<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="2022.1.4599" targetFramework="net45" />
  <package id="IronPdf.Native.Chrome.Windows" version="2022.1.4593" targetFramework="net45" requireReinstallation="true" />
  <package id="IronPdf.Slim" version="2022.1.4599" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net45" />
  <package id="Select.Pdf" version="21.2.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
</packages>